body {
  background: yellow;
  font-family: sans-serif;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 900;
}

#task-list {
  margin-top: 20px;
}

.task {
  background: orange;
  padding: 10px;
  margin: 10px auto;
  width: 60%;
  border-radius: 10px;
  font-size: 20px;
}

.task button {
  float: right;
}

.form-box {
  background: #ff6a00;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.form-box input {
  margin: 5px;
  padding: 5px;
}
.task .title-text {
  display: inline-block;
  vertical-align: middle;
}

.task.completed .title-text {
  text-decoration: line-through;
  color: #444;
  opacity: 0.7;
}
